.Link {
  text-decoration: none;
  position: relative;
}

.Link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000; /* Warna shadow, sesuaikan dengan preferensi Anda */
  opacity: 0.5; /* Ubah ke nilai opasitas yang diinginkan */
  transition: opacity 0.3s ease; /* Transisi opacity agar lebih halus */
}

.Link:hover:after {
  opacity: 1; /* Opacity pada hover state */
}